/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

h1, h2, h3, h4, h5, p { 
  /* margin-left: -60px; */
}

/* If screen is 800px or less then */
@media screen and (max-width: 800px) {
  h1, h2, h3, h4, h5, p {
    margin-left: 0px;
  }
}

.page-footer { 
  margin-left: -60px;
}

@media screen and (max-width: 800px) {
  .page-footer {
    margin-left: 0px;
  }
}

.firstcontainer {
  margin-top: 70px;
  margin-bottom: -70px;
}

nav ul,
nav .brand-logo {
  color: #fff;
  margin-left: 0px;
}

@media screen and (max-width: 800px) {
  nav .brand-logo {
    margin-left: -35px;
  }
}

a {
  color: #e1ad01;
}

.contact-section {
  margin-top: 50px;
}

/* ul li::before {
  content: "\2022";
  color: #fff;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: 1em;
} */

li {
  color: #fff;
  font-size: 1.5rem;
}

p {
  line-height: 2rem;
  font-size: 1.5rem;
}

.sidenav {
  background-color: #000;
}
.sidenav-trigger {
  color: #fff;
}

.bannerimg {
  width: '100%';
}

@media screen and (max-width: 600px) {
  .bannerimg {
    width: 430px;
    display: block;
    margin-left: 20px
  }
}

nav .sidenav-trigger {
  margin-left: 0px;
}

.topheader {
  margin-top: 70px;
  margin-left: 0px;
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
