  <footer class="page-footer blue-grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text" style='margin-left: -15px'>About Me</h5>
          <p class="grey-text text-lighten-4" style='margin-left: -15px'>
            Interim/Fractional CTO @ <a href="https://www.hwintegral.com">HWIntegral.com</a></p>
        </div>
        <div class="col l3 s12">
        </div>
        <div class="col l3 s12">
          <h5 class="white-text" style='margin-left: 0px'>Connect</h5>
          <ul>
            <li>              
              <a class="white-text" href="{{linkedin}}"><ion-icon name="logo-linkedin" style='color: #fff; margin-right: 5px'></ion-icon>Linkedin</a>
            </li>
            <li>              
              <a class="white-text" href="{{github}}"><ion-icon name="logo-github" style='color: #fff; margin-right: 5px'></ion-icon>Github</a>
            </li>
            <li>              
              <a class="white-text" href="{{twitter}}"><ion-icon name="logo-twitter" style='color: #fff; margin-right: 5px'></ion-icon>Twitter</a>
            </li>
            <li>              
              <a class="white-text" href="{{stackoverflow}}"><ion-icon name="logo-stackoverflow" style='color: #fff; margin-right: 5px'></ion-icon>Stackoverflow</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>, hamster wheels and caffeine.
      </div>
    </div>
  </footer>
