  <footer class="page-footer blue-grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s13">
          <h5 class="white-text">About Me</h5>
          <p class="grey-text text-lighten-4">Interim/Fractional CTO services, product and engineering.</p>
        </div>
        <div class="col l3 s12">
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li>
              <i class="material-icons">add</i>
              <a class="white-text" href="{{linkedin}}">Linkedin</a>
            </li>
            <li>
              <i class="material-icons">add</i>
              <a class="white-text" href="{{github}}">Github</a>
            </li>
            <li>
              <i class="material-icons">add</i>
              <a class="white-text" href="{{twitter}}">Twitter</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>, hamster wheels and caffeine.
      </div>
    </div>
  </footer>
