<!DOCTYPE html>
<html lang="en">

{{> header }}

<body class="black">

  {{> navbar }}

  <div class="container firstcontainer">
    <div class="row">
      <div class="section">
        <h1 class="header left white-text">{{ sitedescription }}</h1>
        <p class="left white-text;">
          I work with startup/scaleups, venture builders and investors internationally to build products as an engineer, architect and CTO.          
          <b>Contact</b>: Email me jon @ hwintegral.com or call +44 7854 651897 for more details.  
          Also see: <a href='https://www.linkedin.com/in/jonathanholloway/'>Jonathan Holloway on Linkedin</a>
          <br><br>          
        </p>
      </div>
    </div>
  </div>

  <div>
    <br>
    <img class="bannerimg" width='50%' style='display: block; margin: auto' src="./images/bridge.jpeg" alt="Bridge">
  </div>

  <div class="container">
    <div class="row">
      <div class="section">        
        <h3 class="grey-text">Education</h4>
        <ul>
          <li>- MEng Software Engineering (1st Class)</li>
          <li>- MPhil Master Of Philosophy, Major: Computer Science (Research)</li>
          <li>- CEng Chartered Engineer</li>
          <li>- CITP Chartered IT Professional</li>
        </ul>
        <p class="white-text">
          Studied Software Engineering @ Aberystwyth University (there were less than 
          five universities in the UK that offered this course in 1998).  After graduation I co-founded 
          my first company and started a PhD.  I left in 2003 with an MEng in Software Engineering, 
          an MPhil postgrad and an attempt at co-founding a startup (it did ok, by todays standards).  
          That included raising money, building the product and selling to academic institutions.
        </p>
        <h3 class="grey-text">Experience</h3>
         <ul>
          <li>- Engineer - 10 years</li>
          <li>- Product Manager - 5 years</li>
          <li>- CxO (CTO, CPO, Chief Architect) - 6 years</li>
          <li>- Co-founder x 3 Startups</li>
          <li>- Interim CTO x 5 Startups</li>
          <li>- Advisor/Fractional CTO 20+ Startups</li>
        </ul>                      
      </p>
      </div>
    </div>
  </div>


  {{> footer }}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  <script src="//instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>
  </body>
</html>
