<!DOCTYPE html>
<html lang="en">

{{> header }}

<body class="black">

  {{> navbar }}

  <div class="container firstcontainer">
    <div class="row">
      <div class="section">
        <h3 class="header left white-text">{{ sitedescription }}</h3>
        <p class="left white-text;">                    
          <b class="grey-text">Introduction</b><br>          
          I collaborate with investors/boards and empower companies to define their vision and mission, driving the execution of solutions that create significant impact and value.          
        </p>
        <p class="left white-text;">          
          <b class="grey-text">Coaching</b><br>
          I coach CEO's, CPO's and CTO's on building products, teams and delivering outcomes.  For a free introductory session, Email me on: jon @ hwintegral.com or call +44 7854 651897 for more details.
        </p>
        <p class="left white-text;">          
          <b class="grey-text">Background</b><br>
          <a href='https://www.linkedin.com/in/jonathanholloway/'>Linkedin Profile</a>
          <br>
          <a href="https://drive.google.com/file/d/1a-0aNtDSfS4tFAbn8J1siCX_9NRD6aNw/view?usp=sharing">Curriculum Vitae</a>
        </p>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="section">        
        <h5 class="grey-text"><b>Education</b></h5>
        <ul>
          <li>- MEng Software Engineering (1st Class)</li>
          <li>- MPhil Master Of Philosophy, Major: Computer Science (Research)</li>
          <li>- CEng Chartered Engineer</li>
          <li>- CITP Chartered IT Professional</li>
        </ul>
        <p class="white-text">
          Studied Software Engineering @ Aberystwyth University (there were less than 
          five universities in the UK that offered this course in 1998).  After graduation I co-founded 
          my first company and started a PhD.  I left in 2003 with an MEng in Software Engineering, 
          an MPhil postgrad and an attempt at co-founding a startup (it did ok, by todays standards).  
          That included fundraising, building the product and selling to academic institutions.
        </p>
        <h5 class="grey-text"><b>Experience</b></h5>
         <ul>
          <li>- Engineer - 10 years</li>
          <li>- Product Manager - 5 years</li>
          <li>- CxO (CTO, CPO, Chief Architect) - 6 years</li>
          <li>- Co-founder x 3 Startups</li>
          <li>- Interim CTO x 5 Startups</li>
          <li>- Advisor/Fractional CTO 20+ Startups</li>
        </ul>                      
      </p>
      </div>
    </div>
  </div>


  {{> footer }}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  <script src="//instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>
  </body>
</html>
