<!DOCTYPE html>
<html lang="en">

{{> header }}

<body class="black">

  {{> navbar }}

  <div class="container firstcontainer">
    <div class="row">
      <div class="section">
        <h1 class="header left white-text">Projects</h1>
        <p class="left white-text">
          All of my personal projects reside in the music, food-tech or pet-tech space currently.          
          If you want to collaborate, purchase or white-label a solution get in-touch.
        </p>
      </div>
    </div>
  </div>
          
  <div class="container">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center white-text">
              Click Treat
            </h5>
            <h2 class="center white-text">
              <img src='images/ct.png' width='300'/>
            </h2>

            <p class="light justify white-text">
            Click Treat was built out as a pet-tech space solution (React Native app, Async Storage on Expo) for @ Barketplace.  The main app functions as a digital pet “clicker trainer”, instructional videos and a trending view for understanding consistency and regularity of training.
            <br><br>
            1000+ installs and counting
            <br><br>
            <a class='projectlink' href='https://barketplace.uk/click-treat-app-from-barket-place/'>Click Treat on Barket Place</a>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center white-text">Shop Chop</h5>
            <h2 class="center white-text">
              <img src='images/sc.png' width='300'/>
            </h2>
            <p class="light justify white-text">
            Two apps built out in the food-tech space to provide shopping, food prep and collaboration. Firebase, Expo, React Native and Async Storage mostly. Just Chop - a way to keep, detail and use personal recipes that you’ve collected over the years in handwritten form. Chop Shop - a way to collaborate with partners, friends or neighbours on shopping lists.  It provides a real-time shopping view which allows you to distribute the shopping effort with one or more people via real-time updates.
            <br><br>
            <a class='projectlink' href='#'>Currently in beta</a>
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center white-text">Loquacious</h5>
             <h2 class="center white-text">
              <img src='images/loq.png' width='300'/>
            </h2>

            <p class="light justify white-text">
            Loquacious is a simple word app to improve your vocabulary.  Built on Expo, React Native with SQLite as a backend.  Uses Python for Glue.
            <br><br>
            <a class='projectlink' href='https://apps.apple.com/tt/app/loquacious/id1493377013'>Loquacious on the Appstore</a>
            </p>
          </div>
        </div>
      </div>

  </div>

  {{> footer }}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
