<!DOCTYPE html>
<html lang="en">

{{> header }}

<body class="black">

  {{> navbar }}

  <div class="container firstcontainer">
    <div class="row">
      <div class="section">
        <h1 class="header left white-text">Contact</h1>       
        <img src='./images/contact.png' style='width: 100%'> 
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="section">                 
        <h4 class='grey-text' style='margin-top: 50px'>Location(s)</h4>
        <p class="white-text">
        SW11, Battersea, London
        </p>
        <p class="white-text">
        BS37, Bristol
        </p>
        <div class='mapcustom' id="mapContainer"></div>
        <h4 class='grey-text'>Email</h4>
        <p class="white-text">
          <a href='mailto: jonathan.holloway@gmail.com'>jonathan.holloway at gmail.com</a>
        </p>   
        <h4 class='grey-text'>Phone</h4>
        <p class="white-text">
          +44 7854 651897
        </p>   
        <h4 class='grey-text'>Web</h4>
        <p class="white-text">
          <a href='https://www.hwintegral.com'>Interim/Fractional CTO Consulting</a>
        </p>       
      </div>
    </div>
  </div>  

  {{> footer }}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  <script src="js/map.js"/>
    
  </body>
</html>

