<!DOCTYPE html>
<html lang="en">

{{> header }}

<body class="black">

  {{> navbar }}

  <div class="container firstcontainer">
    <div class="row">
      <div class="section">
        <h1 class="header left white-text">Projects</h1>
        <p class="left white-text">
          All of my personal projects reside in the music, food-tech or pet-tech space currently.          
          If you want to collaborate, purchase or white-label a solution get in-touch.
        </p>
      </div>
    </div>
  </div>
          
  <div class="container">

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center white-text">
              Click Treat
            </h5>
            <h2 class="center white-text">
              <img src='images/ct.png' width='300'/>
            </h2>

            <p class="light justify white-text">
            Click Treat was built out as a pet-tech 'digital clicker' product (React Native app, Async Storage on Expo) for @ Barketplace.  2500+ installs and counting
          </div>
          <div class="col s12 m4">
            <p class="center"><a class="waves-effect waves-light btn" href='https://barketplace.uk/click-treat-app-from-barket-place/'>More Info</a></p>            
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center white-text">Shop Chop</h5>
            <h2 class="center white-text">
              <img src='images/sc.png' width='300'/>
            </h2>
            <p class="light justify white-text">
              Two apps built out in the food-tech space to provide collaborative real-time shopping preparation and collection, then cooking guides, timing and sharing with others. 
            </p>
          </div>
          <div class="col s12 m4">
            <p class="center"><a class="waves-effect waves-light btn" href='/shopchop.html'>More Info</a></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center white-text">Loquacious</h5>
             <h2 class="center white-text">
              <img src='images/loq.png' width='300'/>
            </h2>

            <p class="light justify white-text">
            Loquacious is a simple word app to improve your vocabulary.  Built on Expo, React Native with SQLite as a backend. 
            </p>
          </div>
           <div class="col s12 m4">
            <p class="center"><a class="waves-effect waves-light btn" href='https://apps.apple.com/tt/app/loquacious/id1493377013'>More Info</a></p>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center white-text">
              Webhook Platform
            </h5>
            <h2 class="center white-text">
              <img src='images/drhook.png' width='300'/>
            </h2>

            <p class="light justify white-text">
            A webhook platform written in Express, Pug, Node.js and SQLite (because I was a little fedup of Zapier).  Allows you to deploy scripts webhooks or chain scripts together with variables, view output and results.
            </p>
          </div>
          <div class="col s12 m4">
            <p class="center"><a class="waves-effect waves-light btn" href='#'>In Beta</a></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center white-text">Scorio</h5>
            <h2 class="center white-text">
              <img src='images/scorio.png' width='300'/>
            </h2>
            <p class="light justify white-text">
            Simple score keeping app            
            </p>
          </div>
          <div class="col s12 m4">
            <p class="center"><a class="waves-effect waves-light btn" href='https://apps.apple.com/gb/app/scorio/id1493650828'>More Info</a></p>          
          </div>
        </div>

         <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center white-text">Esper</h5>
            <h2 class="center white-text">
              <img src='images/esper.png' width='300'/>
            </h2>
            <p class="light justify white-text">
              A dynamic headless content management system for building API's for applications without any technical knowledge.
            </p>
          </div>
          <div class="col s12 m4">
            <p class="center"><a class="waves-effect waves-light btn" href='#'>In Beta</a></p>          
          </div>
        </div>


        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center white-text"></h5>
          </div>
        </div>

      </div>

  </div>

  {{> footer }}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
