<!DOCTYPE html>
<html lang="en">

{{> header }}

<body class="black">

  {{> navbar }}

  <div class="container firstcontainer">
    <div class="row">
      <div class="section">
        <h1 class="header left white-text">Posts</h1>        
        <p class="left white-text">
          I've written various posts, articles in the technology, music or development space.  Most of these can be found on Medium here or linked below.
          <br><br>
          <a href='https://medium.com/@jonathan.holloway/'>Me on Medium</a>
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="section">    
          {{#blog}}
            <h4 class='grey-text' style='margin-top: 60px;'>{{name}}</h4>
            <p class='white-text' style='margin-bottom: 50px'>{{description}}</p>
            {{#posts}}
              <h5 class="white-text" style='margin-top: 30px'>
                <a href={{link}}>{{title}}</a>
              </h5>
            {{/posts}}
          {{/blog}}
        </h5>
      </div>
    </div>
  </div>

  {{> footer }}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  <script src="js/map.js"/>
    
  </body>
</html>

