<!DOCTYPE html>
<html lang="en">

{{> header }}

<body class="black">

  {{> navbar }}

  <div id="index-banner" class="small-parallax-container topheader">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="left grey-text text-lighten-2">Contact</h1>        
      </div>      
    </div>  
  </div>
  <div class="section black">
    <div class="row container" style='margin-top: 140px'>                
      <h4 class='grey-text contact-section'>Location(s)</h4>
      <p class="white-text">
      SW11, Battersea, London
      </p>
      <p class="white-text">
      BS37, Bristol
      </p>
      <div class='mapcustom' id="mapContainer"></div>
      <h4 class='grey-text contact-section'>Email</h4>
      <p class="white-text">
        <a href='mailto: jonathan.holloway@gmail.com'>jonathan.holloway at gmail.com</a>
      </p>   
      <h4 class='grey-text contact-section'>Phone</h4>
      <p class="white-text">
        +44 7854 651897
      </p>   
      <h4 class='grey-text contact-section'>Web</h4>
      <p class="white-text">
        <a href='https://www.hwintegral.com'>Interim/Fractional CTO Consulting</a>
      </p>       
    </div>
  </div>  

  {{> footer }}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  <script src="js/map.js"/>
    
  </body>
</html>

