<!DOCTYPE html>
<html lang="en">

{{> header }}

<body class="black">

  {{> navbar }}

  <div class="container firstcontainer">
    <div class="row">
      <div class="section">
        <h1 class="header left white-text">Coaching</h1>        
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="section">          
        <p class="left white-text">
          I've coached 20+ execs (CEO, CPO, CTO) on Leadership, Product, Engineering, Strategy, Career and Leading Teams.  I work with senior leaders to coach and advise on problems or specific topics.&nbsp;&nbsp;<br>          
        </p>
        <p class="left white-text">
          <br>
        </p>        
        <p class="left white-text">          

          <script src ="https://cdn.jotfor.ms/s/static/latest/static/feedback2.js" type="text/javascript"></script>
          <script type="text/javascript">
              var JFL_252723903926360 = new JotformFeedback({
                formId: '252723903926360',
                base: 'https://form.jotform.com/',
                windowTitle: 'Contact Me',
                fontColor: '#FFFFFF',
                type: 'false',
                height: 500,
                width: 700,
                openOnLoad: false
              });
          </script>
          <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
          <script>window.jotformEmbedHandler("iframe[id='252723903926360']", "https://form.jotform.com/")</script>
            <a class="btn lightbox-252723903926360"
            style="
            font-size: 20px;
            transition: all,.1s,ease-in;
            background-color: #000;
            border: 0.5px solid #FFF;
            color: #FFFFFF;
            ">
              Contact Me
            </a>

        </p>
      </div> 
    </div>            
  </div>  

  {{> footer }}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
