<!DOCTYPE html>
<html lang="en">

{{> header }}

<body class="black">

  {{> navbar }}

  <div id="index-banner" class="parallax-container topheader">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="left grey-text text-lighten-2">Posts</h1>        
        <br><br><br><br>
        <h5 class="header left col s12 light">          
          {{#blog}}
            <h4 class='grey-text' style='margin-top: 60px;'>{{name}}</h4>
            {{#posts}}
              <h5 class="white-text" style='margin-top: 30px'>
                <a href={{link}}>{{title}}</a>
              </h5>
            {{/posts}}
          {{/blog}}
        </h5>
      </div>
    </div>
  </div>

  {{> footer }}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  <script src="js/map.js"/>
    
  </body>
</html>

