<!DOCTYPE html>
<html lang="en">

{{> header }}

<body class="black">

  {{> navbar }}

  <div class="container firstcontainer">
    <div class="row">
      <div class="section">
            <h1 class="header white-text">Writing</h1>        
            <p>Posts, articles and writing in the technology, music or development space.</p>
            {{! <img src='./images/interim3.png' style='height: 200'> }}
          </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="section">    
          {{#blog}}
            <div class="row">
              <h4 class='grey-text' style='margin-top: 60px'>{{name}}</h4>
              <p>{{description}}</p>
            </div>

            <div class="container post-row-container">
              <div class="row nopad">
                {{#posts}}
                    <div class="col s12 m4 nopad">
                      <div class="icon-block nopad">
                        <h6 class="white-text" >
                          <a href={{link}}>{{title}}</a>
                        </h6>
                        <p class='post-desc'>{{desc}}</p>
                        <a href={{link}}><img src='{{image}}' style='width: 200px'></a>
                      </div>
                      <div class="col s12 m4">                      
                      </div>
                    </div>
                {{/posts}}
                </div>
            </div>

          {{/blog}}
        <div>
          <div class="row">
            <div class="section">
              <h4 class='grey-text' style='margin-top: 60px;'>More Articles</h4>
              <a href='https://medium.com/@jonathan.holloway'>Me on Medium</a>
              <br><br>
              <img src='./images/interim-me.png' style='width: 100%'>
            </div>
          </div>          
        </div>

      </div>

    </div>
  </div>

  

  {{> footer }}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  <script src="js/map.js"/>
    
  </body>
</html>

