<!DOCTYPE html>
<html lang="en">

{{> header }}

<body class="black">

  {{> navbar }}

  <div class="container firstcontainer">
    <div class="row">
      <div class="section">
        <h1 class="header left white-text">Shop Chop</h1>        
        <p class="left white-text">
          Shop Chop is a collaborative real-time shopping preparation and collection application.  
          You can collaboratively create shopping lists with family and friends.
          When at the Supermarket you can split the shopping list between you and distribute the shopping effort.
          Changes to the list are updated in real-time.  If you're shopping for someone they can add a new item in, whilst your shopping.
          <br><br>
          <a href='#'>Currently In Beta</a>
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="section">    
        <h1 class="header left white-text">Just Chop</h1>
        <p class="left white-text">
          Just Chop is a companion app to Shop Chop.  With this you can organise and maintain recipes that you've personally created over the years.  
          It provides a simple guide on how to prepare the dish and multiple timers.  You can share your recipes (if you wish) with other people.
          <br><br>
          <a href='#'>Currently In Beta</a>
        </p>
      </div>
    </div>
  </div>

  {{> footer }}

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  <script src="js/map.js"/>
    
  </body>
</html>

