/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

h1, h5 { 
  margin-left: -60px;
}

/* If screen is 600px or less then */
@media screen and (max-width: 800px) {
  h1, h5 {
    margin-left: 0px;
  }
}

nav ul,
nav .brand-logo {
  color: #fff;
  margin-left: -60px;
}

a {
  color: #e1ad01;
}

.contact-section {
  margin-top: 50px;
}

/* ul li::before {
  content: "\2022";
  color: #fff;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: 1em;
} */

li {
  color: #fff;
  font-size: 1.5rem;
}

p {
  line-height: 2rem;
  font-size: 1.5rem;
}

.sidenav {
  background-color: #000;
}
.sidenav-trigger {
  color: #fff;
}

.bannerimg {
  width: '100%';
}

nav .sidenav-trigger {
  margin-left: 0px;
}

.parallax-container {
  color: rgba(255,255,255,.9);  
}

.small-parallax-container {
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  /* width: 100%; */
}

.topheader {
  margin-top: 70px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
