<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <div class='outercontainer'>
        <div class='titlecontainer'>
            <h2 class='title'>Jonathan Holloway</h2>
        </div>
        <div class='navcontainer'>
            {% include navigation.html %}    
        </div>
    </div>
    {{ content }}    
    {% include footer.html %}
  </body>
</html>