body {
  background-color: #fff;
  color: #444;
  font-family: Libre Baskerville, serif;
  -webkit-font-feature-settings: "kern" 1, "liga" 1;
  font-feature-settings: "kern" 1, "liga" 1;
  line-height: 1.563;
  margin: 0 0 3rem 0;
}

h1 {
  font-weight: normal;
}

ul {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
}

#container {
  margin-top: 20px;
}

a {
  color: #000;
}